canvas {
  position: fixed;
  top: 0;
  left: 0;
}

html {
  white-space: pre-wrap;
}

main {
  width: 100vw;
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#aboutme {
  background-color: white;
}
